.header{
    z-index: 5000000000000000000000000000000000;
}

.callbacks2_nav {
    background:transparent url("../images/arrows_black.png") no-repeat right top

}
  #text1{
	text-align: center;
	padding: 0px 30px ;
	line-height: 30px;
	color:#FFF5D6;
}
#text2{
	text-align: center;
}
.card{
	vertical-align: 500px;
}

h3.mytitle{
    margin-bottom:40px; 
}

.banner{
    background: none;
}

.wthree-team-grid .mug_shot{
    width:140px;
    height: 140px;
}

.wthree-team-grid li .tech_img{
    margin-top: 5px;
    margin-bottom: 20px;
    width:30px;
    height: 30px;
}

.ppt img{
    display:block;
    margin:auto;
    width:70%;
}

.downloadBtn:hover{
 color: #ccc;
}

.wthree-subscribe .w3-agileits-testimonial{
    background: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.icons img{
    margin-top:25px; 
    width: 50px;
    height: 50px;
}

#profit h2{
    text-align: center;
    margin: 25px 0;
    color: white;
    text-shadow:gray 0.05em 0.05em 0.1em;
}

#profit p,li{
    text-align: center;
}

#profit .view_details_link{
    text-align: right;
}

@media (max-width:991px){
.ppt img{
    display:block;
    margin:auto;
    width:100%;
}
.ppt .container{
    width:100%;
}
}

.social ul li a i.fa.fa-github-alt:hover{
    height: 40px;
    width: 40px;
    line-height: 37px;
	background: rgba(167, 111, 237, 1);
}

.modal-dialog{
    margin-top:100px; 
}

.modal .rslides li img{
    height: 500px;
    box-sizing: border-box;
}

#myVideo {
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
    z-index: -1000; 
    overflow: hidden;
  }

  #news{
      background: #ffffff;
    z-index: 100;
  }

.community-box div{
    text-align:center;line-height:50px;
}