<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zh-tw">

<head>
	<title>Kapah-The Issue Utopia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Kapah" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	<!-- bootstrap-css -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/myStyle.css" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/icofont.min.css" type="text/css" media="all">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300'
		rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
	<!-- //font -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- light-box -->
	<link rel="stylesheet" href="css/lightbox.css">
	<!-- //light-box -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
</head>

<body>
	<!-- <span class="sc_top" style="z-index:500000000000000000;position:fixed;">0</span> -->
	<!-- banner -->
	<div id="banner" class="banner">
		<video autoplay muted loop id="myVideo">
			<source src="video/California-Desert.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>
		<div class="banner-dot">
			<!-- header-top -->
			<div class="header-top">
				<div class="container">
					<div class="header-left">
						<!-- <h1><a href="/">Kapah</a> <span>Utopia</span></a></h1> -->
					</div>
					<div class="header-middle" style="margin-top:0.5em;">
						<ul>
							<li><span class="glyphicon glyphicon-education" aria-hidden="true"></span>108503</li>
							<li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope"
										aria-hidden="true"></span>kapah-nesl@boun.cr</a></li>
						</ul>
					</div>
					<div class="social" style="margin:0;">
						<ul>
							<li><a href="https://www.facebook.com/presidentialoffice.tw/"><i
										class="fa fa-facebook"></i></a></li>
							<li><a href="https://github.com/neslxzhen/GraduationCase/wiki"><i
										class="fa fa-facebook fa-github-alt"></i></a></li>
							<!-- <li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li> -->
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //header-top -->
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#banner" class="active">主頁</a></li>
								<li><a href="#news" class="scroll">新聞</a></li>
								<li><a href="#dev_background" class="scroll">動機</a></li>
								<li><a href="#world" class="scroll">世界觀</a></li>
								<li><a href="#community" class="scroll">受眾</a></li>
								<li><a href="#profit" class="scroll">獲利模式</a></li>
								<li><a href="#point" class="scroll">特色</a></li>
								<!-- <li><a href="#character" class="scroll">角色</a></li> -->
								<li><a href="#future" class="scroll">影響</a></li>
								<li><a href="#team" class="scroll">團隊</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
			<!--//header-->
			<!-- banner-info -->
			<div class="banner-info">
				<div class="container">
					<div class="w3layouts-text">
						<div class="row">
							<div class="col-md-6">
								<img src="images/kapah_logo.png">
							</div>
							<div class="col-md-6" style="padding:60px 30px;">
								<h3 id='text1'>"玩家在決定政策的同時，也在摸索、研究政策，進而了解每項議題背後的意義。"</h3>
								<h5 style="float: right;margin-right: 20px;">--10456044 張震龍</h5>
							</div>
						</div>
						<button type="button" class="btn btn-success downloadBtn btn-lg">
							Download APK
						</button>
					</div>

				</div>

			</div>
			<!-- //banner-info -->
		</div>
	</div>
	<!-- //banner -->

	<!-- News & Events -->
	<div id="news" class="updates">
		<div class="container-fluid">
			<h3 id='text2' class="mytitle">News & Events<i class="icofont-fire-burn"></i></h3>
			<div class="row">
				<div class="col-md-4">
					<!-- Example Notifications Card-->
					<div class="card-header">
						<i class="fa fa-github" aria-hidden="true"></i> GitHub</div>
					<div class="list-group list-group-flush small">
						<% if(arr.length==0){ %>
						您在一個小時內訪問了60次，超過API流量限制，因此無法顯示Commits
						<% } %>
						<% for(var i=0;i<arr.length;i++){ %>
						<a class="list-group-item list-group-item-action" href="<%= arr[i].html_url %>">
							<div class="media">
								<% if(arr[i].author!=null){ %>
								<img class="d-flex mr-3 rounded-circle" src="<%= arr[i].author.avatar_url %>" alt=""
									style="float:left;width: 70px;">

								<div class="media-body" style="float:left;width: calc(100% - 70px);padding-left:10px">
									<i class="far fa-arrow-alt-circle-right"></i>
									<%= sha_arr[i] %>-
									<strong><%= arr[i].commit.author.name %></strong>
									<br><%= arr[i].commit.message %>
									<div class="text-muted smaller"><%= arr[i].commit.author.date %></div>
								</div>
								<% }else{ %>
								<div class="media-body" style="float:left;width: calc(100% - 70px);padding-left:10px">
									<i class="far fa-arrow-alt-circle-right"></i>
									<%= sha_arr[i] %>-
									<strong></strong>
									<br><%= arr[i].commit.message %>
									<div class="text-muted smaller"></div>
								</div>
								<% } %>
							</div>
						</a>
						<% }; %>


						<a class="list-group-item list-group-item-action"
							href="https://github.com/neslxzhen/GraduationCase/commits/master2">View all
							activity...</a>
					</div>
				</div>
				<div class="col-md-4">
					<img src="images/feeling.png" alt="" style="width:100%">
				</div>
				<div class="col-md-4">
					<iframe
						src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpresidentialoffice.tw&tabs=timeline&width=500&height=700&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=256864295257278"
						width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
						allowTransparency="true" allow="encrypted-media"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- //News & Events -->
	<!-- dev_background -->
	<div id="dev_background" class="testimonial jarallax">
		<div class="w3-agileits-testimonial">
			<div class="container">
				<h3>The birth Of Idea</h3>
				<div class="wthree-testimonial-grid">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides" id="slider3">
								<li>
									<div class="testimonial-top">
										<h5><i class="icofont-flame-torch icofont-5x"></i></h5>
										<p>這世界從來就不存在公平，從你親眼見到所有你與夥伴們打造的一切被毀於一旦的時候開始，人民近乎崩潰卻又無力拯救自己的家。</p>
										<p>你意識到身為酋長的你不能坐以待斃，要保護自己的部落，不被外在的強大勢力給淹沒掉。殘破不堪的部落、一敗塗地的你，不明白國王，為何要如此痛恨童話書，明明它是那麼的美好？
										</p>
										<p>難道一切都是自己的自作多情?</p>
									</div>
								</li>
								<li>
									<div class="testimonial-top">
										<h5><i class="icofont-burglar icofont-5x" aria-hidden="true"></i></h5>
										<p>你的摯友，部落裡的商人，在部落被毀掉之前突然帶著許多沒賣完的童話書匆匆離開了，難道你被背叛了嗎？</p>
										<p>原來如此。這世界終究是現實的，為了利益，為了鞏固國家的地位，犧牲、背棄小部落是有必要的，你咬牙切齒的把過去象徵和平的圖騰砸得粉碎，你的部落絕不能再次成為主流的奴隸，是時候該反抗了。
										</p>
										<h5></h5>
										<p>難道你還想再次相信他們?</p>
									</div>
								</li>
								<li>
									<div class="testimonial-top">
										<h5><i class="icofont-law-protect icofont-5x" aria-hidden="true"></i></h5>
										<p>站起來！不願做奴隸的你！用我們的屍體，疊出童話裡的未來！</p>
										<p>你意識到身為酋長的你不能坐以待斃，要保護自己的部落，不被外在的強大勢力給淹沒掉。</p>
										<p>木棉飛遍客座山林，戰士踏遍東道王都。</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //dev_background -->
	<!-- world -->
	<div id="world" class="services jarallax">
		<div class="container">
			<h3 class="mytitle">Game World & Element</h3>
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider4">
						<li>
							<div class="agileinfo-services-grids icons" style="margin-top:20px;">
								<div class="col-md-6 services-grid">
									<div class="services-grid1">
										<div class="col-md-4 services-grid-right agile-services-grid-right">
											<div class="services-grid-right-grid hvr-radial-out">
												<img src="images/story.png">
											</div>
										</div>
										<div class="col-md-8 services-grid-left agile-services-grid-left">
											<h4>童話書</h4>
											<p>童話書的世界，充滿了完美的正義與絕對的黑白分明價值觀，但這到底是不是人類應該要追求的目標?</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="services-grid1">
										<div class="col-md-4 services-grid-right agile-services-grid-right">
											<div class="services-grid-right-grid hvr-radial-out">
												<img src="images/bible.png">
											</div>
										</div>
										<div class="col-md-8 services-grid-left agile-services-grid-left">
											<h4>祭團</h4>
											<p>是統治部落聯盟的主要勢力，想要設計出長老與酋長間世代隔閡、王都小孩與部落長老的教育落差的問題。勢力內部又分三股。</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="services-grid1">
										<div class="col-md-4 services-grid-right agile-services-grid-right">
											<div class="services-grid-right-grid hvr-radial-out">
												<img src="images/shakespeare.png">
											</div>
										</div>
										<div class="col-md-8 services-grid-left agile-services-grid-left">
											<h4>長老派</h4>
											<p>祭團之一、主張原諒國王與保留繪本、不支持推行，巫師派</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="col-md-6 services-grid">
									<div class="services-grid1">
										<div class="col-md-4 services-grid-right">
											<div class="services-grid-right-grid hvr-radial-out">
												<img src="images/books-stack-of-three.png">
											</div>
										</div>
										<div class="col-md-8 services-grid-left services-grid-left1">
											<h4>王都留學的小孩</h4>
											<p>祭團之一、最不歡迎的專家團隊，相信現代科學，不與傳統為伍，認為應燒毀繪本，支持商人。</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="services-grid1">
										<div class="col-md-4 services-grid-right">
											<div class="services-grid-right-grid hvr-radial-out">
												<img src="images/helmet.png">
											</div>
										</div>
										<div class="col-md-8 services-grid-left services-grid-left1">
											<h4>革新派</h4>
											<p>祭團之一、以部落年輕人為主，主張復仇及推動繪本至全世界，與長老們很有溝通障礙與代溝。</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="services-grid1">
										<div class="col-md-4 services-grid-right">
											<div class="services-grid-right-grid hvr-radial-out">
												<img src="images/boar.png">
											</div>
										</div>
										<div class="col-md-8 services-grid-left services-grid-left1">
											<h4>獵團</h4>
											<p>整體上與祭團對立，和他們比起來有著懸殊的財富差距，屬於弱勢族群。</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
						<li style="width:100%;">
							<div class="ppt">
								<div class="container">
									<img src="images/world&event.PNG" />
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //world -->

	<!-- Community -->
	<div id="community" class="gallery">
		<div class="container">
			<h3 class="mytitle">Audience</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="wpf-demo-4 community-box">
						<a href="images/活動者.png" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/活動者.png" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>活動者</p>
							</div>
						</a>
					</div>
					<div class="community-box">
						<div>
							小黨派、地方聲音<br>
							需要號召、力量者
						</div>
					</div>

				</div>

				<div class="col-md-4">
					<div class="wpf-demo-4 community-box">
						<a href="images/接受者.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/接受者.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>接受者</p>
							</div>
						</a>
					</div>
					<div class="community-box">
						<div>
							想了解公共議題的人
						</div>
					</div>

				</div>

				<div class="col-md-4">


					<div class="wpf-demo-4 community-box">
						<a href="images/分享者.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/分享者.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>分享者</p>
							</div>
						</a>
					</div>
					<div class="community-box">
						<div>
							想與他人分享意見的人
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- //Community -->
	<!--Profit 獲利模式-->
	<div id="profit" class="team">
		<div class="container">
			<h3 class="mytitle">Profit</h3>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-3 column">
						<img src="images/Trophy-1.png" />
						<h2 style="color:rgba(29,105,163,1);">
							<b>道具優惠</b>
						</h2>
						<p>
							<li>在遊戲圖中提供銷售管道</li>
						</p>
						<p class="view_details_link">
							<a class="btn" href="#">View details »</a>
						</p>
					</div>
					<div class="col-md-3 column">
						<img src="images/Trophy-2.png" />
						<h2 style="color:rgba(132,203,195,1);">
							<b>遊戲新模式</b>
						</h2>
						<p>
							<li>增加新的遊戲模式</li>
							<li>更活潑的遊戲元素</li>
							<li>新的勝利條件</li>
						</p>
						<p class="view_details_link">
							<a class="btn" href="#">View details »</a>
						</p>
					</div>
					<div class="col-md-3 column">
						<img src="images/Trophy-3.png" />
						<h2 style="color:rgba(248,209,88,1);">
							<b>政治明星</b>
						</h2>
						<p>
							<li>邀請政治明星出題</li>
							<li>小黨派</li>
						</p>
						<p class="view_details_link">
							<a class="btn" href="#">View details »</a>
						</p>
					</div>
					<div class="col-md-3 column">
						<img src="images/Trophy-4.png" />
						<h2 style="color:rgba(245,115,101,1);">
							<b>線下活動</b>
						</h2>
						<p>
							由官方或玩家發起活動，提升凝聚力及影響力。
						</p>
						<p class="view_details_link">
							<a class="btn" href="#">View details »</a>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--Profit-->
	<!--Point 系統特色-->
	<div id="point" class="gallery ppt">
		<div class="container">
			<h3 class="mytitle">Special Point</h3>
			<img src="images/系統特色.png" />
		</div>
	</div>
	<!--Point-->
	<!-- future -->
	<div id="future" class="team ppt">
		<div class="container">
			<h3 class="mytitle">Effect</h3>
			<img src="images/未來.png" />
		</div>
	</div>
	<!-- //future -->
	<!-- Character -->
	<div id="character" class="gallery">
		<div class="container">
			<h3>Character</h3>
			<div id="jzBox" class="jzBox">
				<div id="jzBoxNextBig"></div>
				<div id="jzBoxPrevBig"></div>
				<img src="#" id="jzBoxTargetImg" alt="">
				<div id="jzBoxBottom">
					<div id="jzBoxTitle"></div>
					<div id="jzBoxCounter"></div>
					<span id="jzBoxMoreItems">
						<i class="glyphicon glyphicon-menu-left" id="jzBoxPrev"></i> &nbsp;
						<i class="glyphicon glyphicon-menu-right" id="jzBoxNext"></i> &nbsp;
					</span>
					<i class="glyphicon glyphicon-remove-circle" id="jzBoxClose"></i>
				</div>
			</div>
			<div class="w3ls-gallery-grids">
				<div class="col-md-4 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g1.jpg" class="jzBoxLink item-hover"
							title="Maecenas sodales tortor ac ligula ultrices dictum et quis urna.">
							<img src="images/g1.jpg" class="img-responsive" alt=" " />
							<div class="view-caption">
								<p>部落</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g2.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g2.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>商人</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g7.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g7.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>--</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g3.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g3.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>巫師</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g4.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g4.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>酋長</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g6.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g6.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>王都</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g8.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g8.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>國王</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g5.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g5.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>--</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //Character -->
	<!-- team -->
	<div id="team" class="team">
		<div class="container">
			<h3>Our Team</h3>
			<div class="agileinfo-team-grids">
				<div class="row">
					<div class="col-md-7">
						<div class="jarallax">
							<div class="slider">
								<div class="callbacks_container">
									<ul class="rslides" id="slider-t">
										<% team_pic.forEach(function(s) { 
														if(s.substring(0,4)=='team'){%>
										<li><img src="images/team/<%=s%>" alt="" style="width: 600px" /></li>
										<%}});%>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-5 team-social-grids">
						<div class="row">
							<div class="col-md-4 wthree-team-grid">
								<img src="images/team/44-shot.jpg" alt="" class="mug_shot" />

								<a id="modal-44" href="#modal-container-44" role="button" class="btn"
									data-toggle="modal">
									<h5>10456044 張震龍</h5>
								</a>
								<ul>
									<li><img src="images/tech/unity.png" alt="" class="tech_img" /></li>
									<li><img src="images/tech/web.png" alt="" class="tech_img" /></li>
									<li><img src="images/tech/light.png" alt="" class="tech_img" /></li>
								</ul>
							</div>
							<div class="col-md-4 wthree-team-grid">
								<img src="images/team/06-shot.jpg" alt="" class="mug_shot" />
								<a id="modal-06" href="#modal-container-06" role="button" class="btn"
									data-toggle="modal">
									<h5>10456006 陳頤永</h5>
								</a>
								<ul>
									<li><img src="images/tech/topic.png" alt="" class="tech_img" /></li>
									<li><img src="images/tech/doc.png" alt="" class="tech_img" /></li>
									<li><img src="images/tech/db.png" alt="" class="tech_img" /></li>
								</ul>
							</div>

							<div class="col-md-4 wthree-team-grid">
								<img src="images/team/teacher-shot.jfif" alt="" class="mug_shot" />
								<h5>指導老師:夏德威</h5>
								<ul>
									<li></li>
								</ul>
							</div>

						</div>
						<div class="row">
							<div class="col-md-4 wthree-team-grid">
								<img src="images/team/38-shot.jpg" alt="" class="mug_shot" />
								<a id="modal-38" href="#modal-container-38" role="button" class="btn"
									data-toggle="modal">
									<h5>10456038 黃安妤</h5>
								</a>
								<ul>
									<li><img src="images/tech/doc.png" alt="" class="tech_img" /></li>
									<li><img src="images/tech/video.png" alt="" class="tech_img" /></li>
								</ul>
							</div>
							<div class="col-md-4 wthree-team-grid">
								<img src="images/team/39-shot.jpg" alt="" class="mug_shot" />
								<a id="modal-39" href="#modal-container-39" role="button" class="btn"
									data-toggle="modal">
									<h5>10456039 卓依</h5>
								</a>
								<div class="team-social-grids">
									<ul>
										<li><img src="images/tech/painter.png" alt="" class="tech_img" /></li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 wthree-team-grid">
								<img src="images/team/林佳逸-shot.jpg" alt="" class="mug_shot" />
								<h5>美術指導:林佳逸</h5>
								<ul>
									<li><img src="images/tech/painter.png" alt="" class="tech_img" /></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<%- include('team_dialog', {who: "44"}); %>
	<%- include('team_dialog', {who: "38"}); %>
	<%- include('team_dialog', {who: "39"}); %>
	<%- include('team_dialog', {who: "06"}); %>
	<!-- //team -->
	<!-- subscribe -->
	<div class="myfooter">
		<div class="jarallax wthree-subscribe">
			<div class="w3-agileits-testimonial subscribe-bg">
				<div class="container">
					<div class="w3-agileits-subscribe-form">
						<div class="social" style="margin:0;">
							<ul>
								<li><a href="https://www.facebook.com/presidentialoffice.tw/"><i
											class="fa fa-facebook"></i></a></li>
								<li><a href="https://github.com/neslxzhen/GraduationCase/wiki"><i
											class="fa fa-facebook fa-github-alt"></i></a></li>
								<!-- <li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //subscribe -->
	<!-- footer -->
	<div class="jarallax agileits-w3layouts-footer">
		<div class="container">
			<div class="agile-copyright">
				<p>ntub-imd group108503 @ copyleft</a>
				</p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script src="js/jarallax.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

			$("#slider4").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

			$("#slider5").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

			$("#slider-t").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<script src="js/jzBox.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">

		$(window).scroll(function () {
			if ($(window).width() >= 990) {
				if ($(window).scrollTop() >= 100) {
					// $(".sc_top").text("100");
					$(".header").css({ "position": "fixed", "background-color": "rgba(225, 225, 225, 0.5)" });
				} else {
					// $(".sc_top").text("0");
					$(".header").css({ "position": "static", "top": "0", "background-color": "transparent", "width": "100%" });
				}
			}
		}); 
	</script>
</body>

</html>