/*
https://www.iware.com.tw/qa-CSS%E5%AD%97%E5%9E%8B%E5%B5%8C%E5%85%A5%E6%96%B9%E5%BC%8F.html
*/

@font-face {
    font-family: 'genkai-mincho_1';
    src: url('../fonts/genkai-mincho_1.ttf') format("truetype"),
         url('../fonts/genkai-mincho_1.eot') format("embedded-opentype");
  }

#teach p{
    color:#000; 
}

#teach h4{
    color:#000; 
}

#teach h5{
    color:#000; 
}

#teach .callbacks_nav {
    background: transparent url("../images/arrows_black.png") no-repeat right top;
}

.carousel-control.left {
    background-image:none;
    filter: none;
    background-repeat:none;
  }
  .carousel-control.right {
    right: 0;
    left: auto;
    background-image:none;
    filter: none;
    background-repeat:none;
  }

  #text1{
	text-align: center;
	padding: 0px 50px ;
	line-height: 30px;
	color:#FFF5D6;
	margin-right: -50px;
	margin-left: -10px;
}
#text2{
	text-align: center;
	/* margin-left: 550px; */
}
.card{
	vertical-align: 500px;
}

.audience-box{
    height: 218px;
}