<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zh-tw">

<head>
	<title>Kapah-The Issue Utopia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Historical Games Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- bootstrap-css -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"
		media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/myStyle.css" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300'
		rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
	<!-- //font -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- light-box -->
	<link rel="stylesheet" href="css/lightbox.css">
	<!-- //light-box -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>

	<style>
		#demo {
			font-family: 'Helvetica', Arial, sans-serif;
		}

		a {
			text-decoration: none;
			color: #f66;
		}

		li {
			line-height: 1.5em;
			margin-bottom: 20px;
		}

		.author,
		.date {
			font-weight: bold;
		}
	</style>
</head>

<body>
	<!-- banner -->
	<div class="banner">
		<div class="banner-dot">
			<!-- header-top -->
			<div class="header-top">
				<div class="container">
					<div class="header-left">
						<h1><a href="index.html"></a>Kapah <span>Utopia</span></a></h1>
					</div>
					<div class="header-middle">
						<ul>
							<li><span class="glyphicon glyphicon-education" aria-hidden="true"></span>108503</li>
							<li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope"
										aria-hidden="true"></span>kapah-nesl@boun.cr</a></li>
						</ul>
					</div>
					<div class="header-right">
						<div class="search">
							<form action="#" method="post">
								<input type="search" name="Search" value="Search" onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'Search';}" required="">
								<input type="submit" value=" ">
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //header-top -->
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/" class="active">主頁</a></li>
								<li><a href="#news" class="scroll">最新消息與我們</a></li>
								<li><a href="#teach" class="scroll">遊戲教學</a></li>
								<li><a href="#character" class="scroll">角色</a></li>
								<li><a href="#story" class="scroll">故事</a></li>
								<li><a href="#team" class="scroll">團隊</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
			<!--//header-->
			<!-- banner-info -->
			<div class="banner-info">
				<div class="container">
					<div class="w3layouts-text">
						<div class="row">
							<div class="col-md-6">
								<h2>Kapah</h2>
							</div>
							<div class="col-md-6" style="padding:60px 30px;">
								<h3 id='text1'>"我們希望它是一款有深度的公共議題主題遊戲，可以真切享受到在部落、帝國、人民之間維持政權的攻防戰。"</h3>
								<h5 style="float: right;margin-right: 20px;">--10456044 張震龍</h5>
							</div>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-success"
					style="float:right;width:200px;height:50px;margin-right:200px;font-size:25px; ">
					Download APK
				</button>
			</div>
			<!-- //banner-info -->
		</div>
	</div>
	<!-- //banner -->
	<!-- team -->
	<div class="team" id="team">
		<div class="container">
			<h3>Our Team</h3>
			<div class="agileinfo-team-grids">
				<div class="col-md-3 wthree-team-grid">
					<img src="images/44.jpg" alt="" style="width: 255px;height:255px;" />
					<h4>張震龍</h4>
					<p>10456044</p>

					<div class="team-social-grids">
						<ul>
							<li><img src="images/unity.png" alt="" style="width: 50px;" /></li>
							<li><img src="images/web.png" alt="" style="width: 50px;" /></li>
							<li><img src="images/light.png" alt="" style="width: 50px;" /></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree-team-grid">
					<img src="images/t2.jpg" alt="" style="width: 255px;height:255px;" />
					<h4>陳頤永</h4>
					<p>10456006</p>
					<div class="team-social-grids">
						<ul>
							<li><img src="images/topic.png" alt="" style="width: 50px;" /></li>
							<li><img src="images/doc.png" alt="" style="width: 50px;" /></li>
							<li><img src="images/db.png" alt="" style="width: 50px;" /></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree-team-grid">
					<img src="images/38.png" alt="" style="width: 255px;height:255px;" />
					<h4>黃安妤</h4>
					<p>10456038</p>
					<div class="team-social-grids">
						<ul>
							<li><img src="images/doc.png" alt="" style="width: 50px;" /></li>
							<li><img src="images/video.png" alt="" style="width: 50px;" /></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree-team-grid">
					<img src="images/39.jpg" alt="" style="width: 255px;height:255px;" />
					<h4>卓依</h4>
					<p>10456039</p>
					<div class="team-social-grids">
						<ul>
							<li><img src="images/painter.png" alt="" style="width: 50px;" /></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- updates -->
	<div class="container-fluid">
		<div class="updates" id="news">
			<div class="container">
				<h3 id='text2'>News & Events</h3>
				<div class="row">
					<div class="col-md-6">
						<!-- Example Notifications Card-->
						<!-- <div class="card mb-3">
								<div class="card-header">
								  <i class="fa fa-bell-o"></i> Feed Example</div>
								<div class="list-group list-group-flush small">
								  <a class="list-group-item list-group-item-action" href="#">
									<div class="media">
									  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
									  <div class="media-body">
										<strong>David Miller</strong>posted a new article to
										<strong>David Miller Website</strong>.
										<div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
									  </div>
									</div>
								  </a>
								  <a class="list-group-item list-group-item-action" href="#">
									<div class="media">
									  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
									  <div class="media-body">
										<strong>Samantha King</strong>sent you a new message!
										<div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
									  </div>
									</div>
								  </a>
								  <a class="list-group-item list-group-item-action" href="#">
									<div class="media">
									  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
									  <div class="media-body">
										<strong>Jeffery Wellings</strong>added a new photo to the album
										<strong>Beach</strong>.
										<div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
									  </div>
									</div>
								  </a>
								  <a class="list-group-item list-group-item-action" href="#">
									<div class="media">
									  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
									  <div class="media-body">
										<i class="fa fa-code-fork"></i>
										<strong>Monica Dennis</strong>forked the
										<strong>startbootstrap-sb-admin</strong>repository on
										<strong>GitHub</strong>.
										<div class="text-muted smaller">Today at 3:54 PM - 2hrs ago</div>
									  </div>
									</div>
								  </a>
								  <a class="list-group-item list-group-item-action" href="#">View all activity...</a>
								</div>
								<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
							  </div> -->

						<div id="demo">
							<h1>Latest Vue.js Commits</h1>
							<template v-for="branch in branches">
								<input type="radio" :id="branch" :value="branch" name="branch" v-model="currentBranch">
								<label :for="branch">{{ branch }}</label>
							</template>
							<p>vuejs/vue@{{ currentBranch }}</p>
							<ul>
								<li v-for="record in commits">
									<a :href="record.html_url" target="_blank"
										class="commit">{{ record.sha.slice(0, 7) }}</a>
									- <span class="message">{{ record.commit.message | truncate }}</span><br>
									by <span class="author"><a :href="record.author.html_url"
											target="_blank">{{ record.commit.author.name }}</a></span>
									at <span class="date">{{ record.commit.author.date | formatDate }}</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //updates -->
	<!-- ContainInfo -->
	<div class="services" id="teach">
		<div class="container">
			<h3>Novice Teaching</h3>
			<div class="carousel slide" id="carousel-466453">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-466453">
					</li>
					<li data-slide-to="1" data-target="#carousel-466453">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<div class="agileinfo-services-grids">
							<p>
								<h5>Step.1</h5>
							</p>
							<div class="col-md-6 services-grid">
								<div class="services-grid1">
									<div class="col-md-4 services-grid-right agile-services-grid-right">
										<div class="services-grid-right-grid hvr-radial-out">
											<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
										</div>
									</div>
									<div class="col-md-8 services-grid-left agile-services-grid-left">
										<h4>repreh qui in ea voluptate</h4>
										<p>Itaque earum rerum hic tenetur a sapiente
											delectus, ut aut reiciendis voluptatibus maiores alias
											consequatur
											aut perferendis doloribus asperiores repellat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="services-grid1">
									<div class="col-md-4 services-grid-right agile-services-grid-right">
										<div class="services-grid-right-grid hvr-radial-out">
											<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
										</div>
									</div>
									<div class="col-md-8 services-grid-left agile-services-grid-left">
										<h4>aut perferendis doloribus</h4>
										<p>Itaque earum rerum hic tenetur a sapiente
											delectus, ut aut reiciendis voluptatibus maiores alias
											consequatur
											aut perferendis doloribus asperiores repellat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="services-grid1">
									<div class="col-md-4 services-grid-right agile-services-grid-right">
										<div class="services-grid-right-grid hvr-radial-out">
											<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
										</div>
									</div>
									<div class="col-md-8 services-grid-left agile-services-grid-left">
										<h4>maiores alias consequatur</h4>
										<p>Itaque earum rerum hic tenetur a sapiente
											delectus, ut aut reiciendis voluptatibus maiores alias
											consequatur
											aut perferendis doloribus asperiores repellat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-6 services-grid">
								<div class="services-grid1">
									<div class="col-md-4 services-grid-right">
										<div class="services-grid-right-grid hvr-radial-out">
											<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
										</div>
									</div>
									<div class="col-md-8 services-grid-left services-grid-left1">
										<h4>voluptatibus maiores alias</h4>
										<p>Itaque earum rerum hic tenetur a sapiente
											delectus, ut aut reiciendis voluptatibus maiores alias
											consequatur
											aut perferendis doloribus asperiores repellat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="services-grid1">
									<div class="col-md-4 services-grid-right">
										<div class="services-grid-right-grid hvr-radial-out">
											<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
										</div>
									</div>
									<div class="col-md-8 services-grid-left services-grid-left1">
										<h4>dut aut reiciendis maiores</h4>
										<p>Itaque earum rerum hic tenetur a sapiente
											delectus, ut aut reiciendis voluptatibus maiores alias
											consequatur
											aut perferendis doloribus asperiores repellat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="services-grid1">
									<div class="col-md-4 services-grid-right">
										<div class="services-grid-right-grid hvr-radial-out">
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
										</div>
									</div>
									<div class="col-md-8 services-grid-left services-grid-left1">
										<h4>doloribus volupta maiores</h4>
										<p>Itaque earum rerum hic tenetur a sapiente
											delectus, ut aut reiciendis voluptatibus maiores alias
											consequatur
											aut perferendis doloribus asperiores repellat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="item">
						<i class="fa fa-quote-right" aria-hidden="true"></i>
						<p>Donec feugiat tellus sem, laoreet iaculis orci lobortis vel. Sed sed
							luctus
							orci, at lacinia risus. Ut porttitor ante ac tincidunt elementum.
							Curabitur
							ex dolor, condimentum vitae nunc vel, pulvinar semper justo. Vestibulum
							et
							aliquet magna, maximus dapibus enim. Vestibulum ex lectus, posuere eu
							viverra at, mattis et enim. Nam efficitur sem et lectus fringilla, at
							pharetra nulla luctus. Nunc cursus, augue ac ultricies volutpat, neque
							erat
							congue justo, ac pretium tellus eros a neque. Integer ipsum sem,
							consectetur
							a mollis ac, cursus eu ipsum.</p>
						<h5>John Smith <span>- Founder</span></h5>
					</div>
				</div> <a class="left carousel-control" href="#carousel-466453" data-slide="prev"><span
						class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
					href="#carousel-466453" data-slide="next"><span
						class="glyphicon glyphicon-chevron-right"></span></a>
			</div>

		</div>
	</div>
	</div>
	</div>
	</div>
	<!-- //ContainInfo -->
	<!-- Character -->
	<div id="character" class="gallery">
		<div class="container">
			<h3>Character</h3>
			<div id="jzBox" class="jzBox">
				<div id="jzBoxNextBig"></div>
				<div id="jzBoxPrevBig"></div>
				<img src="#" id="jzBoxTargetImg" alt="">
				<div id="jzBoxBottom">
					<div id="jzBoxTitle"></div>
					<div id="jzBoxCounter"></div>
					<span id="jzBoxMoreItems">
						<i class="glyphicon glyphicon-menu-left" id="jzBoxPrev"></i> &nbsp;
						<i class="glyphicon glyphicon-menu-right" id="jzBoxNext"></i> &nbsp;
					</span>
					<i class="glyphicon glyphicon-remove-circle" id="jzBoxClose"></i>
				</div>
			</div>
			<div class="w3ls-gallery-grids">
				<div class="col-md-4 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g1.jpg" class="jzBoxLink item-hover"
							title="Maecenas sodales tortor ac ligula ultrices dictum et quis urna.">
							<img src="images/g1.jpg" class="img-responsive" alt=" " />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g2.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g2.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g7.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g7.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g3.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g3.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g4.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g4.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/g6.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g6.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g8.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g8.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="wpf-demo-4">
						<a href="images/g5.jpg" class="jzBoxLink item-hover"
							title="Etiam pulvinar metus neque eget porttitor massa.">
							<img src="images/g5.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Click Here</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<script src="js/jzBox.js"></script>
		</div>
	</div>
	<!-- //Character -->
	<!-- story -->
	<div class="testimonial jarallax" id="story">
		<div class="w3-agileits-testimonial">
			<div class="container">
				<h3>Story</h3>
				<div class="wthree-testimonial-grid">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides" id="slider3">
								<li>
									<div class="testimonial-top">
										<i class="fa fa-quote-right" aria-hidden="true"></i>
										<p>這是個烏煙瘴氣、荒草遍布的失落的部落，前身受到無情戰爭的摧殘</p>
										<h5></span></h5>
									</div>
								</li>
								<li>
									<div class="testimonial-top">
										<i class="fa fa-quote-right" aria-hidden="true"></i>
										<p>如何用智慧、能力讓殘破不堪的部落死灰復燃</p>
										<h5></h5>
									</div>
								</li>
								<li>
									<div class="testimonial-top">
										<i class="fa fa-quote-right" aria-hidden="true"></i>
										<p>新酋長們，這是賦予你們的身上的重擔，用你們的手指創造近乎烏托邦的國度! </p>
										<h5></h5>
									</div>
								</li>
							</ul>
						</div>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
								// Slideshow 4
								$("#slider3").responsiveSlides({
									auto: true,
									pager: false,
									nav: true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
										$('.events').append("<li>before event fired.</li>");
									},
									after: function () {
										$('.events').append("<li>after event fired.</li>");
									}
								});

							});
						</script>
						<!--banner Slider starts Here-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //story -->
	<!-- subscribe -->
	<div class="jarallax  wthree-subscribe">
		<div class="w3-agileits-testimonial subscribe-bg">
			<div class="container">
				<h3>Subscribe with Us</h3>
				<div class="w3-agileits-subscribe-form">
					<form action="#" method="post">
						<input type="text" placeholder="Email" name="Email" required="">
						<button class="btn1">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //subscribe -->
	<!-- footer -->
	<div class="agileits-w3layouts-footer">
		<div class="container">
			<div class="agile-copyright">
				<p>奧米加咆嘯獸</a>
				</p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script src="js/jarallax.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script src="js/responsiveslides.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var apiURL = 'https://api.github.com/repos/vuejs/vue/commits?per_page=1&sha='
		// https://api.github.com/repos/neslxzhen/GraduationCase/commits

		/**
		 * Actual demo
		 */

		var demo = new Vue({

			el: '#demo',

			data: {
				branches: ['master', 'dev'],
				currentBranch: 'master',
				commits: null
			},

			created: function () {
				this.fetchData()
			},

			watch: {
				currentBranch: 'fetchData'
			},

			filters: {
				truncate: function (v) {
					var newline = v.indexOf('\n')
					return newline > 0 ? v.slice(0, newline) : v
				},
				formatDate: function (v) {
					return v.replace(/T|Z/g, ' ')
				}
			},

			methods: {
				fetchData: function () {
					var xhr = new XMLHttpRequest()
					var self = this
					xhr.open('GET', apiURL + self.currentBranch)
					xhr.onload = function () {
						self.commits = JSON.parse(xhr.responseText)
						console.log(self.commits[0].html_url)
					}
					xhr.send()
				}
			}
		})
	</script>
</body>

</html>