<section class="ftco-intro" style="background-image: url(imgs/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-9" style="text-align:center;">
          <h2>現在就接受治療!!!</h2>
          <p class="mb-0">下載示範遊戲，看看我們如何治療病友!!</p>
          <p></p>
        </div>
        <div class="col-md-3 d-flex align-items-center">
          <p class="mb-0"><a href="/Download" class="btn btn-secondary px-4 py-3">Download</a></p>
        </div>
      </div>
    </div>
  </section>